{% extends "base.html" %}

{% block content %}
<form method="POST" class="search">
    <input type="text" name="query" placeholder="Query" value={{ query }} />
    <input type="text" name="amount" placeholder="Amount" value={{ amount }} />
    <button type="submit">Submit</button>
</form>
<div class="cards">
    {% for i in range(length) %}
    <a href={{ commanders[i]["scryfall_uri"] }}>
        <img src={{ commanders[i]["image_uris"]["large"] }} />
    </a>
    {% endfor %}
</div>
{% endblock %}